.navbar {
            background-color: #D3D3D3; 
            padding: 10px;             
        }

        .navbar ul {
            list-style: none;        
            margin: 0;
            padding: 0;
        }

        .navbar li {
            display: inline;           
            margin-right: 1rem;      
            font-family: sans-serif;
            font-size: 18px;
            cursor: pointer;
        }